---
import { Block } from '../lib/interfaces.js'
import TableOfContents from './notion-blocks/TableOfContents.astro';
export interface Props {
  heading: string
  blocks: interfaces.Block[]
}
const { heading, blocks } = Astro.props
// Notion側にTableOfContentsが存在しない場合でも作れるように仮想のアイテムを作成
const dummyBlock: Block = {
  Id: "",
  Type: "",
  HasChildren: false,
  TableOfContents: {
    Color: "gray"
  }
}
let headings = blocks.filter((b: interfaces.Block) =>
    ['heading_1', 'heading_2', 'heading_3'].includes(b.Type)
  )
---
<div class="blog-headline-link">
  <div class="post-headline">
    <TableOfContents block={dummyBlock} headings={headings}/>
  </div>
</div>
<style>
  .blog-headline-link {

  }
  .post-headline {
    padding: 0.5rem 0;
  }
</style>