---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<span class="post-update-date">
  {post.UpdateDate && getDateStr(post.UpdateDate) != getDateStr(post.Date) ? <span>更新日：{getDateStr(post.UpdateDate)}</span> : ''}
</span>

<style>
  .post-update-date {
    padding: 0 1.5em 0.3rem;
    font-size: 0.9rem;
  }
</style>
