---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<span class="post-date">
  {post.Date ? <span>投稿日：{getDateStr(post.Date)}</span> : ''}
</span>

<style>
  .post-date {
    padding: 0 0 0.3rem;
    font-size: 0.9rem;
  }
</style>
